---
import Main from "../layouts/Main.astro";
import Section from "../components/Section.astro";
import pgpKeys from "../../public/pgp_keys.asc?raw";

const subTitle = "PGP Keys";
const description = `curl ${Astro.site}pgp_keys.asc | gpg --import`;
const ogTitle = subTitle;
const ogDescription = description;
---

<Main subTitle="PGP Keys" ogTitle={ogTitle} ogDescription={ogDescription}>
  <Section title="PGP Keys">
    <table class="w-full">
      <tbody>
        <tr>
          <td>Fingerprint</td>
          <td>1E9C 28E5 6E4F C136 ED7F 8DB8 B921 02E5 8DC1 9C84</td>
        </tr>
        <tr>
          <td>64-Bit</td>
          <td>B921 02E5 8DC1 9C84</td>
        </tr>
        <tr>
          <td>Raw</td>
          <td><a href="pgp_keys.asc" aria-label="Download GPG keys">pgp_keys.asc</a></td>
        </tr>
      </tbody>
    </table>
  </Section>
  <div>
    <figure class="mx-0 my-4 p-4 sm:p-6">
      <pre class="overflow-auto p-0 my-0 bg-transparent border-0">curl {Astro.site}pgp_keys.asc | gpg --import</pre>
    </figure>
  </div>
  <div>
    <textarea class="w-full text-sm resize-y" readonly disabled aria-hidden="true" set:html={pgpKeys}>
    </textarea>
  </div>
</Main>

<style>
  table td+td {
    text-align: right;
  }

  figure {
    background-color: var(--light);
    -ms-overflow-style: -ms-autohiding-scrollbar;
  }

  textarea {
    height: 200px;
    padding: 0.5rem;
    padding-right: 0;
    padding-bottom: 0.063rem;
    background-color: var(--light);
    border-color: var(--light);
    font-family: var(--font-family-monospace);
    color: var(--dark);
    line-height: 1.42857;
  }
</style>
