---
import OpenGraph from "../components/OpenGraph.astro";
import StuckPixel from "../components/StuckPixel.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

import "../styles/base.css";

const _subTitle = Astro.props.subTitle;
const subTitle = _subTitle ? ` • ${_subTitle}` : "";
const title = "Vincent Nadoll" + subTitle;
const { ogTitle = title, ogDescription, classList, meta } = Astro.props;
---

<html class="h-full" lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="author" content="Vincent Nadoll" />
    <meta name="description" content={meta.description} />
    <meta name="keywords" content={meta.keywords.join(", ")} />
    <OpenGraph title={ogTitle} description={ogDescription} />
    <title>{title}</title>
    <script defer src="/fontawesome/js/brands.js"></script>
    <script defer src="/fontawesome/js/solid.js"></script>
    <script defer src="/fontawesome/js/fontawesome.js"></script>
  </head>
  <body class="h-full flex flex-col text-base font-light md:text-xl !leading-normal">
    <StuckPixel />
    <div class="main flex flex-1 items-center justify-center mt-4 md:items-unset md:mt-24">
        <div class="container px-4">
        <Header />
        <main class:list={classList}>
          <slot />
        </main>
      </div>
    </div>
    <Footer />
  </body>
</html>

<style>
  body {
    font-family: var(--font-family-sans-serif);
    color: var(--dark);
    background-color: var(--white);
  }

  @media screen and (min-width: 1200px) and (min-height: 900px) {
    .main {
      margin-top: 10rem;
    }
  }
</style>
